<!DOCTYPE html>
<html lang="en">

<!-- Well, hello there... -->

<!-- LATER 404 to a draft should attempt to open post and/or display an explanation. -->

<!-- GH/D icons, RSS -->

<!-- LATER Prev/next post -->

<!--
  TODO FIX Test on mobile:
    - Header too wide
    - Smaller font? Maybe only code blocks?
    - Check fonts for inputs (at least 16?) - click, make sure it doesn't zoom the page.
-->

<!-- LATER Preview image with screenshots of RCs and RWs on the sides? -->

<!-- LATER Larger image preview on discord? https://old.reddit.com/r/discordapp/comments/8li27t/why_are_some_article_images_huge_in_discord_and/ -->

<!-- LATER Interactive code snippets? https://codapi.org/ -->

<!-- LATER Button/checkbox invisible to humans to detect bots? -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- LATER Meta tags per article? -->
  <meta name="description" content="Martin-t's blog about programming, Rust and FOSS">
  <meta name="author" content="Martin Taibr">
  <meta name="keywords" content="martin-t, blog, programming, rust, linux, foss, gamedev">

  <!-- Useful for testing: https://addons.mozilla.org/en-US/firefox/addon/open-graph-preview-and-debug/ -->
  <!-- Docs: https://developers.facebook.com/docs/sharing/webmasters/images -->
  {% block open_graph %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://martin-t.github.io/">
  <meta property="og:title" content="Martin-t's blog">
  <meta property="og:description" content="Rust, gamedev, Rust gamedev, mostly">
  {% endblock %}
  <meta property="og:site_name" content="martin-t::blog">
  <meta property="og:image" content="https://martin-t.github.io/resf-black-export-drawing-1200x630.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!--
    Yeah, yeah, what a cute title. It's out of necessity, not because i wanted to be funny and original.
    I was perfectly happy with just "martin-t's blog" but firefox doesn't render apostrophes in titles.
    So here we are, day 1, hour 1 of writing a blog and i am already dealing with random webshit issues outside of my control.
  -->
  <title>martin-t::blog</title>

  <link rel="icon" href="/resf-black-export-drawing-100x100.png">

  {% set atom = get_url(path="atom.xml", trailing_slash=false) %}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ atom | safe }}">

  <!--
    Include the default font as base64 in the main HTML file
    so it's all loaded in one request
    to prevent a noticeable font change on load.

    Note that it still sometimes happens, at least when testing locally with `zola serve`. No idea why.
  -->
  <!--
    LATER Switch to woff or woff2, it's 2x smaller,
    maybe only include a subset (10 smaller), then use url for the full fallback.
    https://www.fontsquirrel.com/fonts/computer-modern
  -->
  {% include "font-computer-modern.html" %}

  <!--
    Normalize CSS between browsers.
    Also apparently makes some changes in the name of sanity
    like using `box-sizing: border-box`.

    https://raw.githubusercontent.com/sindresorhus/modern-normalize/main/modern-normalize.css
  -->
  {% include "modern-normalize.html" %}

  <!-- My custom CSS. -->
  {% include "style.html" %}

  <script>
    function setStyle() {
      var font = document.getElementById("fonts").value;
      document.body.className = font;
    }
    // When reloading or going back, the dropdown keeps its previous value - set the font to it.
    addEventListener("DOMContentLoaded", setStyle);
  </script>

  <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="/fontawesome/css/brands.css" rel="stylesheet" />
  <link href="/fontawesome/css/solid.css" rel="stylesheet" />

  <!-- Google tag (gtag.js) -->
  <!--
    If you don't wanna be spied on by Google,
    don't criticize people using Google Analytics, start blocking Google Analytics.
    I care about privacy more than most people
    but you can't ask everyone to play nicely and expect them to do so.
    You can, however, make it impossible for them to spy on you.
    Anyone who doesn't block this is perfectly OK with being spied on.
  -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EMPQ0REW0D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-EMPQ0REW0D');
  </script>
</head>

<body class="computer-modern">
  <div>
    <div id="dbg">
      <p>DBG</p>
    </div>
  </div>

  <!-- LATER Dropdowns can't be styled,
  try https://stackoverflow.com/questions/10696004/how-to-change-font-family-of-drop-downs-list-item -->
  <!--
    The default needs to be set in 2 places:
    - In the <select> because the JS uses it.
    - On the <body> because I hope that might make it use the right font fro mthe start.
  -->
  <div id="styles">
    <label for="fonts">Font:</label>
    <select name="fonts" id="fonts" onchange="setStyle()">
      <option value="serif">Serif</option>
      <option value="sans-serif">Sans-serif</option>
      <option value="computer-modern" selected>Computer Modern</option>
      <option value="liberation-serif">Liberation Serif</option>
      <option value="lora">Lora</option>
      <option value="alegreya">Alegreya</option>
    </select>
  </div>

  <header>
    <nav>
      <div class="header-part">
        <a href="/">martin-t</a>::{
        <a href="/posts/">blog</a>,
        <a href="/projects/">projects</a>,
        <a href="/about/">about</a>,
        };
        <!--
          Yes, the comma after the last element is intentional
          because nonretarded langs allow trailing commas.
        -->
      </div>

      <div class="header-part" id="header-right">
        <!-- LATER Icons. Maybe vertical-align: baseline. -->
        <a href="https://discord.gg/SDcz3vUk36">
          <i class="fa-brands fa-discord"></i>
          <span>RustyGames</span>
        </a>
        <a href="https://github.com/martin-t">
          <i class="fa-brands fa-github"></i>
          <span>martin-t</span>
        </a>
      </div>
    </nav>
  </header>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <!-- LATER "Fix typo" button like matklad has. -->
    <!-- LATER Share on reddit/hn/twitter/whatever? -->
    <!-- LATER Comments or only on some pages? Gisqus / utterances -->
    <!-- LATER Webmentions? -->
    <a href="{{ atom | safe }}" title="Yes, it's only atom, I mention RSS for people who ctrl+f RSS">
      <i class="fa-solid fa-rss"></i>
      <span>Atom / RSS</span>
    </a>
    <a href="https://mastodon.social/@martin_t">
      <i class="fa-brands fa-mastodon"></i>
      <span>@martin_t</span>
    </a>
    <a href="https://discord.gg/SDcz3vUk36">
      <i class="fa-brands fa-discord"></i>
      <span>RustyGames</span>
    </a>
    <a href="https://github.com/martin-t">
      <i class="fa-brands fa-github"></i>
      <span>martin-t</span>
    </a>
  </footer>
</body>

</html>
