{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Rust, gamedev, Rust gamedev, <span title="It's called yak shaving. I wanted to write about gamedev so I needed to make a blog. And because none of the existing solutions satisfied my standards, I decided to make one which doesn't suck from scratch. And because I didn't know much HTML/CSS, I had to learn those first. And here we are 3+ months later."><del>mostly</del> eventually</span>
</h1>

{% set posts = get_section(path="posts/_index.md") %}
{% include "post-list.html" %}

{% endblock content %}
