{% extends "base.html" %}

{% block open_graph %}
<meta property="og:type" content="article">
<meta property="og:url" content="https://martin-t.github.io{{ page.path }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.summary }}">
{% endblock head %}

{% block content %}

<h1 class="title">
  {{ page.title }}
</h1>

<div class="page-meta">
  <em>{{ page.date }} {% if page.updated %} (updated {{ page.updated }}) {% endif %}</em>
  <span></span>
  <em>{{ page.word_count }} words / {{ page.reading_time }} minutes</em>
</div>

{% block disclaimer %} {% endblock disclaimer %}

{{ page.content | safe }}

<div class="prev-next">
  {% if page.higher %}
  <a href="{{ page.higher.path }}">« {{ page.higher.title }}</a>
  {% endif %}

  <span></span>

  {% if page.lower %}
  <a class="next" href="{{ page.lower.path }}">{{ page.lower.title }} »</a>
  {% endif %}
</div>

{% endblock content %}
