{% extends "base.html" %}

{% block open_graph %}
<meta property="og:type" content="article">
<meta property="og:url" content="https://martin-t.github.io{{ page.path }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.summary }}">
{% endblock head %}

{% block content %}

<h1 class="title">
  {{ page.title }}
</h1>

<p>
  <em class="date">{{ page.date }}</em>
  <!-- TODO updated if specified -->
</p>

{% block disclaimer %} {% endblock disclaimer %}

{{ page.content | safe }}

{% endblock content %}
