<style>

/* Fonts */

/*
Notes to self:
- They're only downloaded when they're actually used.
- Normal is font-weight: 400, bold is 700 (they're synonyms): https://www.w3.org/TR/css-fonts-3/#font-weight-prop
- Italic is properly designed italic, if missing, the browser will fake it, this is called oblique/slanted.
*/

/* Computer Modern - used in LaTeX */
/* https://www.1001fonts.com/cmu-font.html */
/* Included above */

/* Liberation Serif - used by LibreOffice and https://acoup.blog/ */
/* https://www.1001fonts.com/liberation-serif-font.html */
@font-face {
  font-family: "Liberation Serif";
  src: url("/liberation-serif.regular.ttf") format("truetype");
}
@font-face {
  font-family: "Liberation Serif";
  src: url("/liberation-serif.bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("/liberation-serif.italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("/liberation-serif.bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Lora - used by https://martinfowler.com/ */
/* https://www.1001fonts.com/lora-font.html */
@font-face {
  font-family: "Lora";
  src: url("/lora.regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  src: url("/lora.bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Lora";
  src: url("/lora.italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url("/lora.bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Alegreya - used by https://josephg.com/blog/ */
/* https://www.1001fonts.com/alegreya-font.html */
@font-face {
  font-family: "Alegreya";
  src: url("/alegreya.regular.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("/alegreya.bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Alegreya";
  src: url("/alegreya.italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/alegreya.bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Columns and positioning */

/*
Size variables used for positioning should be relative to the whole screen (e.g. rem and vw, not em and %)
because the calculations can be used in elements with different scales.

Note that 100vw assumes scrollbars don't exist, meaning it counts them as available space even when they do.
Scrollbar width differs between browsers and OSes, the highest actual value I've seen mentioned is 17px
so we pick a value higher than that.

TODO Reduced and mobile layouts

LATER Reduce manual math: https://www.getzola.org/documentation/content/sass/

Full layout - sidenotes on both sides:
| margin | sidenote | gap | center | gap | sidenote | margin |
2*margin + center + 2*gap + 2*sidenote = 2*1 + 45 + 2*18 = 83

Reduced layout - sidenotes on one side only - meant to fit on half of a 1920x1080 screen:
| margin | sidenote | gap | center | gap | margin |
2*margin + center + gap + sidenote

Mobile layout - sidenotes inline:
| margin | center | margin |
2*margin + center
*/
:root {
  --body-margin: 1rem;
  --width-scrollbar: 25px; /* LATER Overwrite with actual value from JS? */
  --full: calc(100vw - var(--width-scrollbar));
  --width-center-max: 42rem;
  --width-center-min: 30rem;
  --width-sidenote-gap: 1.5rem;
  --width-sidenote-max: 18rem;
  --width-sidenote-min: 12rem;
  --width-sidenote-padding: 0.2rem;
}
@media (min-width: 60rem) {
  :root {
    --width-center: var(--width-center-max);
    --width-sidenote: var(--width-sidenote-max);
  }
}
@media (max-width: 60rem) {
  :root {
    --width-center: var(--width-center-min);
    --width-sidenote: var(--width-sidenote-min);
  }
}
:root {
  --width-extra-space: calc(var(--full) - var(--width-center) - 2 * var(--width-sidenote-gap) - 2 * var(--width-sidenote) - 2 * var(--body-margin));
  --width-sidenote-margin: calc(var(--width-extra-space) / 2);
}
#dbg {
  position: fixed;
  border-style: solid;
  border-color: red;
  border-left-width: var(--width-sidenote-margin);
  border-top-width: 1px;
  border-right-width: var(--width-extra-space);
  border-bottom-width: var(--width-sidenote);

  visibility: hidden;
}

/* Colors */

/*
Pages for playing with colors:
- https://colorable.jxnblk.com/
- https://coolors.co/
*/
@media (prefers-color-scheme: light) {
  :root {
    --color-light-background: #fafaf8;
    --color-light-background-code: #dddddb;
    --color-light-foreground: #080808;
    --color-light-gray: #666666;
    --color-light-heading: #aa0200;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-light-background: #020200;
    --color-light-background-code: #222220;
    --color-light-foreground: #dadad0;
    --color-light-gray: #888888;
    --color-light-heading: #33fa33;
  }
}
:root {
  --color-light-link-header-unvisited: var(--color-light-heading);
  --color-light-link-header-visited: var(--color-light-foreground);
  --color-light-link-text-unvisited: var(--color-light-heading);
  --color-light-link-text-visited: var(--color-light-foreground);
  --color-light-link-hover: var(--color-light-gray);
  --color-light-table: var(--color-light-foreground);
}

/* Basic layout and style */

body {
  margin: var(--body-margin);
  margin-bottom: 5rem;
  background-color: var(--color-light-background);
  color: var(--color-light-foreground);
}
body.serif {
  font-family: serif; /* This ends up as Noto Serif on Kubuntu */
}
body.sans-serif {
  font-family: sans-serif; /* This ends up as Noto Sans on Kubuntu */
}
body.computer-modern {
  font-family: "Computer Modern", serif;
}
body.liberation-serif {
  font-family: "Liberation Serif", serif;
}
body.lora {
  font-family: "Lora", serif;
}
body.alegreya {
  font-family: "Alegreya", serif;
}

/*
Don't restrict body or main itself
because we want stuff like images, tables, code blocks, etc. to be wider
when it makes them more readable.
Instead, restrict main's children, then make exceptions.
*/
header, main > *, footer {
  max-width: var(--width-center);
  margin-left: auto;
  margin-right: auto;
}

p, li {
  text-align: justify;
}

.page-meta {
  color: var(--color-light-gray);
}

/* Links */

a {
  color: inherit;
  text-decoration-color: var(--color-light-link-text-unvisited);
}
a:visited {
  color: inherit;
  text-decoration-color: var(--color-light-link-text-visited);
}
a:hover {
  color: var(--color-light-link-hover);
}

/* Header and footer */

header {
  /* Make sure on pages without a date,
  the h1 heading is still closer to the text than the header. */
  margin-bottom: 3em;

  font-weight: bold;
  font-size: 1.2em;
}
header div.header-part {
  display: inline-block;

  /* In case the two parts don't fit and end up on two lines. */
  margin-bottom: 0.8em;
}
header a {
  text-decoration-color: var(--color-light-link-header-unvisited);
}
header a:visited {
  text-decoration-color: var(--color-light-link-header-visited);
}
#header-right {
  float: right;
}
#header-right a {
  margin-left: 0.8em;
  text-decoration: none;
}

/* TODO FIX If too narrow, linebreak between elements, not after icon. */
footer {
  margin-top: 3em;
  text-align: center;
  font-weight: bold;
}
footer a {
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-decoration: none;
}

#header-right a span, footer a span {
  /* Underline only the text, not the spaces before/after. */
  text-decoration: underline;
}

#styles {
  z-index: 10;
  position: fixed;
  top: 2em;
  right: 0;
  padding: 0.5em;
  margin: 1em;
  /* LATER z-index to be above images */
  background-color: var(--color-light-background);
}

/* Post lists */

ul.posts {
  list-style-type: none;
  padding: 0;
}
ul.posts li {
  margin-top: 4em;
  margin-bottom: 4em;
}
ul.posts p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul.posts li a.title {
  font-weight: bold;
  font-size: 1.2em;
}
p.drafts-link {
  margin-top: 4em;
  margin-bottom: 4em;
  font-size: 1.2em;
}

/* Article header */

/* When changing this, make sure it still works with some elements missing.
For example some pages don't have a date. */
.page-meta {
  display: flex;
}
.page-meta span {
  /* Act as a separator */
  flex: auto;
}

/* Article footer */

div.prev-next {
  margin-top: 3em;
  display: flex;
  font-size: 0.8em;
}
div.prev-next a {
  flex: 0 0 45%;
}
div.prev-next a.next {
  text-align: right;
}
div.prev-next span {
  /* Act as a separator */
  flex: auto;
}

/* Headings and anchors */

/*
The anchor created by zola is <h2><a href="..."/></h2>.
We use float:left and a negative margin on the <a>
so that headings align with other test and the anchors are to the left.

We also want to hide the anchors, unless the heading _or anchor_ is hovered over.
The issue is there's a gap between the heading's text and the anchor
so the anchor disappears when the mouse is over the gap.
To fix this, we create a pseudo-element that covers the gap (and the anchor).
Based on https://stackoverflow.com/questions/48753252/enable-hover-on-margin.
*/

/* LATER Consider using § or # by editing the template */
/* https://www.getzola.org/documentation/content/linking/#anchor-insertion */

/* LATER Highlight active anchor after visiting the page through one? Look how matklad does it. */

h1, h2, h3, h4, h5, h6 {
  /* Not sure why but the anchor pseudo-element doesn't work without this */
  position: relative;

  margin-top: 1.5em;
  color: var(--color-light-heading);
  font-weight: normal;
}
a.zola-anchor::after {
  content: "";

  /* Make a box big enough to cover the anchor positioned after the anchor. */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2em;

  /* Position the box over the anchor so it doesn't overlap the heading so the text is selectable. */
  right: 100%;
}
a.zola-anchor {
  /* Not using display:none so it still registers hover even when hidden. */
  opacity: 0;

  /* Put anchors to the left of headings while keeping headings aligned with other text. */
  margin-left: -1.5em;
  margin-top: 0.5em;
  float: left;

  /* The default link symbol (in firefox) is too ugly when large. */
  font-size: 0.6em;

  /* Override normal link behavior. */
  text-decoration: none;
}
:hover > a.zola-anchor, a.zola-anchor:hover {
  /* Make the anchor visible when hovering above the heading or the anchor itself. */
  opacity: 1;
}

/* Custom tooltips */

/* Using the title attribute works but it appears only after waiting a while so the discoverability is bad. */
/* TODO Replace title="" with custom tooltips */
div.tooltip-definition {
  border: 1px solid var(--color-light-gray);
}

/* Sidenotes */

/* LATER Accessibility - footnote and backlink should have diff text: https://jkorpela.fi/www/fn.html#br */
/* TODO Fix heading anchors - position everything using absolute x positions? Parent relative, child absolute? */

/*
Notes about (side)notes / There's no good way to do sidenotes in CSS but I tried all the bad ones so you don't have to:
- Future article:
  - TL;DR: CSS is shit and there's no good way to implement sidenotes. There are multiple bad ones so let's explore all of them and see when they break, how they break and, given my limited CSS knowledge, why they break so you can pick the least bad option for your website.
  - You might be thinking: "But wait your blog has pretty good sidenotes, there must be a way". No. My sidenotes suck, they only look OK because I take great care to avoid any of the edgecases of the particular method I chose.

- Requirements:
  - Put notes on the side at the same height as the reference.
  - Must not overlap with each other or other content,
    including content wider than the main text column
    such as images, code blocks or tables.
  - On mobile / narrow screens, either hide by default and expand on click
    or show them below the paragraph. If hidden by default:
    - Possible to automatically show when printing (to PDF)
      or as a user configurable option?
    - Make it clear that clicking opens a popup
      so users don't avoid clicking it because they expect to be taken elsewhere.
      Maybe dashed underline?
  - Must work without JS,
    though I'd be OK with some JS-only extra progressive enhancement,
    if the other requirements were satisfied without it.
  - Optionally highlight both the sidenote reference and content
    when one of them is hovered so it's easier to match them
    on sidenote-heavy pages.
  - Optionally put sidenotes on the side closer to the reference using JS
    if there is room.

- Vertical positioning:
  - Markdown footnotes are a separate paragraph (in a div),
    there's no way to recover the original height information.
  - Therefore sidenotes have to be inside the paragraph's element - written manually in HTML.
  - Inline elements and some block elements such as <p> can't contain block elements,
    otherwise, they get automatically closed.
    Therefore, sidenotes have to use inline elements only.
  - Eventually we'll be able to use CSS Anchor Positioning even for Markdown sidenotes
    but it's not supported enough yet: https://caniuse.com/css-anchor-positioning

- Horizontal positioning:
  - Most approaches use a combination of float and a negative margin to move the note to the side.
  - We have no container element so a negative margin is useless.
  - The trick is to use `calc` with the width of the side areas
    and push the sidenote away from the screen edge instead of the main content.
  - (LATER Blog post should explain using an image - compare Tufte-likes and this.)

- Gwern has a very comprehensive overview of existing implementations - https://gwern.net/sidenote. Extra info:
  - Robert Nystrom's sidenotes - e.g. https://gameprogrammingpatterns.com/flyweight.html
  - A nice example of progressive JS enhancement with understandable code.
  - References/notes aren't numbered.
  - Uses <aside> _below_ the paragraph it refers to.
  - CSS moves it to the right side only. (No way to position is vertically properly using just CSS.)
  - JS moves it to the right height
  - Doesn't handle overlapping.
    Presumably the author pays attention to position them far enough apart manually.
  - You can test this without JS by disabling JS on the page and reloading:
    - Firefox - F12 -> Debugger -> Gear icon -> Disable JavaScript. (include a screenshot)
    - Chrome - https://stackoverflow.com/questions/13405383/how-to-disable-javascript-in-chrome-developer-tools.
  - Tufte CSS - https://github.com/edwardtufte/tufte-css
  - Uses float and clear so interacts poorly with other floated elements.
  - Explanation here: https://edwardtufte.github.io/tufte-css/
    - Uses <input> for toggleable sidenotes on narrow screens.
  - Another version with another explanation here: http://32bitkid.github.io/tufte-css/
    - This is an older version but it showcases more elements such as tables and code blocks.
    - It does sidenotes differently. On narrow screens,
      clicling the number opens them on the whole screen with no way to go back.
  - https://www.kooslooijesteijn.net/blog/sidenotes-without-js
  - Adds "(Sidenote: ...)" only visible without CSS (e.g. screen readers).
  - Uses a trick with hidden checkboxes, not sure why.
- Other impls:
  - https://scripter.co/sidenotes-using-only-css/
    - Written after Gwern's article, similar to Tufte, doesn't contain any significant improvements.
    - Uses inline elements, positions them using `float: left` and moves them up a bit for no reason.
    - Generates numbers using a CSS counter.
  - [stilldrinking.org](http://www.stilldrinking.org/grammar-maquis) ([archive](https://web.archive.org/web/20231025082455/http://www.stilldrinking.org/grammar-maquis))
    - Position calculated by JS.
  - [verdagon.dev](https://verdagon.dev/blog/generational-references) ([archive](https://web.archive.org/web/20231013010305/https://verdagon.dev/blog/generational-references))
    - Position calculated by JS but has a backup: The article is split into vertical segments, without JS, sidenotes end up at the top of their segment which is usually near the reference.
  - [predr.ag](https://predr.ag/blog/speeding-up-rust-semver-checking-by-over-2000x/) ([archive](https://web.archive.org/web/20231015013845/https://predr.ag/blog/speeding-up-rust-semver-checking-by-over-2000x/))
    - Sidenotes are part of the paragraph in HTML and positioned to the side in CSS using float and negative margins. They never overlap with each other but sometimes do with headings. They're slightly misaligned when used from elements which don't span the entire width of the main article such as <li>. Note that they're always on the right, this misalignment might produce overlap with the main article if placed on the left in a deeply nested bullet point.
*/

/*
Positioning:

- Float+clear conflicts with other elements that use it but puts sidenotes below each other.
- Position absolute doesn't collide but sidenotes need to be manually positioned to not overlap.
- Postion relative doesn't collide and doesn't overlap but leaves empty space at the original location.
- CSS anchor positioning is not supported yet in Firefox: https://caniuse.com/css-anchor-positioning

Therefore we use float+clear and try to avoid it for other elements
unless we are OK with them pushing down or being pushed down by sidenotes.
Horizontal positioning is done using negative margins.
This works fine inside <p> elements because they all have the same width.
However <li> elements are indented so sidenotes on the left side are misaligned.
Right sidenotes work fine so this is currently the best I can do.
Similar issue with sidenotes inside tables. Might be better to use footnots for (wide) tables.

There is no way to alternate sides using just CSS because nth-of-type only counts the direct children of one parent.
My sidenotes have different parents unless there's many of them in the same paragraph.
Therefore I use zola's shortcodes and their "nth" variable.
*/

body {
  counter-reset: sidenotes;
}
.sidenote-reference::before {
  counter-increment: sidenotes;
  content: counter(sidenotes);
  /* Wider shadow */
  padding: 0 0.1em;
  /* Avoid a large gap before the next word.
  Note that sidenote.html must not add extra whitespace */
  margin: 0 -0.1em 0 0;
  color: var(--color-light-heading);
}
.sidenote-definition.right {
  float: right;
  clear: right;
  margin-right: calc(-1 * (var(--width-sidenote) + var(--width-sidenote-gap)));
}
.sidenote-definition.left {
  float: left;
  clear: left;
  margin-left: calc(0px - var(--width-sidenote) - var(--width-sidenote-gap));
}
.sidenote-definition {
  width: var(--width-sidenote);

  /* Make sure the top shadow doesn't intersect the superscript on label hover. */
  padding: var(--width-sidenote-padding);
  /* Push it up a little so it aligns better with the line it's on.
  Note the font size is smaller so it shouldn't subtract the whole padding. */
  margin-top: -0.1em;
  /* This should at least as wide as the empty line in multi paragraph sidenotes.
  Note that margins don't seem to collapse on floated elements. */
  margin-bottom: 0.75em;

  font-size: 0.8em;
  text-align: justify;
}
.sidenote-definition-label::before {
  content: "^" counter(sidenotes);
  color: var(--color-light-heading);
}
.sidenote-reference:hover::before,
.sidenote-reference:has(+ .sidenote-definition:hover)::before {
  color: var(--color-light-gray);
  /* Box around the reference */
  box-shadow: 0 0 0 1px var(--color-light-gray);
}
.sidenote-reference:hover + .sidenote-definition,
.sidenote-reference + .sidenote-definition:hover {
  /* Lines above and below the definition */
  box-shadow: 0 -1px var(--color-light-gray), 0 1px var(--color-light-gray);
}

/* Don't show sidenotes in summaries.
Though I have to admit, seeing my rants seep out into the list of posts is kinda funny. */
ul.posts .sidenote-definition,
ul.posts .sidenote-reference {
  display: none;
}

/* Classic footnotes */

/*
This is kept only as backup.
They should not be used except for exceptional circumstances.
Like notes in tables. :(
*/

sup.footnote-reference {
  margin: 0 0.1em;
  color: var(--color-light-heading);
}
sup.footnote-reference a {
  text-decoration: none;
}

div:nth-child(even of .footnote-definition) {
  float: right;
  clear: right;
  margin-left: 0;
  margin-right: var(--width-sidenote-margin);
}
div:nth-child(odd of .footnote-definition) {
  float: left;
  clear: left;
  margin-right: 0;
  margin-left: var(--width-sidenote-margin);
  /*
  It would be nice to move short (one word) sidenotes a bit to the right
  so they're right next to the main text without a large gap
  but there seems to be no way to access the element's own width in CSS.
  LATER: Align sidenotes using JS?
  */
}
div.footnote-definition {
  /* Margins don't seem to collapse on floated elements. */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: var(--width-sidenote);

  font-size: 0.8em;
  text-align: justify;
}
div.footnote-definition sup {
  color: var(--color-light-heading);
}
div.footnote-definition p {
  display: inline; /* On the same line as the number */
}

ul.posts div.footnote-definition {
  /* Don't show footnotes in summaries. Refs are hidden by zola, also hide defs. */
  display: none;
}

/* LATER Use JS to remove clear:both from tables/code/images which are narrower than main content. */

/* Images */

/*
Don't restrict image/video width unless too big for the screen,
it makes everything blurry.
Note markdown images end up wrapped in a <p>.
*/
main > p > img, main > p > video {
  clear: both;
  display: block;
  max-width: calc(100vw - 2 * var(--body-margin));

  /* Trick to center the image:
  move the left side to the center,
  then move it -50% of its width */
  margin-left: 50%;
  transform: translateX(-50%);
}
.sidenote-definition > img {
  max-width: calc(var(--width-sidenote) - 2 * var(--width-sidenote-padding));
}

figure.right {
  /* LATER: Using float here interacts with sidenotes, find a better way. */
  float: right;

  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
}
figcaption {
  text-align: center;
  font-style: italic;
  margin-top: 0.2em;
  margin-bottom: 0.75em;
}

/* Tables */

/*
All tables have to be _manually_ wrapped in this div,
zola generates just a naked table element
and there doesn't seem to be a way to make it scrollable with just CSS.

Note there has to be a blank line between the div and the table in Markdown.
Without it, the raw markdown would be included, not the rendered table.
*/
div.table {
  clear: both;
  /* LATER Align to center in a way that doesn't require clearing floating sidenotes if the table is narrow. */
  /* margin-left: unset;
  margin-right: unset;
  position: relative;
  left: 50%;
  transform: translateX(-50%); */

  position: relative;

  width: fit-content;
  max-width: 100%;
  overflow-x: auto; /* LATER This breaks sticky headers for some reason. */
  /* LATER Try https://stackoverflow.com/questions/74430552/table-body-not-as-wide-as-table/74490075#74490075 */
  /* Or https://uxdesign.cc/position-stuck-96c9f55d9526 */
}
table {
  /* Required for sticky headers: https://css-tricks.com/position-sticky-and-table-headers/ */
  position: relative;

  border-collapse: collapse;
  border-bottom: 2px solid;
}
th, td {
  text-align: center;
}
th {
  position: sticky;
  top: -1px; /* 0 creates a gap */
  background-color: var(--color-light-background);

  /* Borders don't work with sticky headers so we use inset shadows instead. */
  box-shadow: inset 0 2px var(--color-light-table), inset 0 -1px var(--color-light-table);
  /* Same padding as a normal cell but +3px to account for the inset shadow. */
  padding: calc(0.3em + 3px) 1em 0.3em 1em;
}
td {
  padding: 0.3em 1em;
}
th:first-child, td:first-child {
  text-align: left;
}

/* Code blocks */
/* Note that code blocks are <pre><code>, inline code is just <code> */
/* LATER Zola's syntax highlighting forces a background color. Find a way to toggle style from JS when toggling light vs dark. */

pre {
  clear: both;
  /* Align to center in a way that doesn't require clearing floating sidenotes if the table is narrow. */
  /* margin-left: unset;
  margin-right: unset;
  position: relative;
  left: 50%;
  transform: translateX(-50%); */

  padding: 0.5em;
  min-width: var(--width-center);
  max-width: min-content;

  /* Only -x, not -y, otherwise there's room for a scrollbar on the right side
  which has a different color and looks bad. */
  overflow-x: auto;
}
/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] {
  padding: 0.5em 0;
}
code {
  font-family: "Computer Modern Typewriter", monospace;
}
:not(pre) > code {
  background-color: var(--color-light-background-code);
}

</style>
